.wrapper-course-modes {
    padding: 0;
}

.accordion {
    width: 100%;
}

.react-sanfona-item-title {
    padding: 15px;
    background-color: #ffffff;
}

.menu-item {
    text-align: left;
    font-size: 16px;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 15px;  
    font-family: 'lato'
}

.react-sanfona-item-body-wrapper{
    background-color: #ffffff;
}

.active-menuItem {
    color: #DE7150 !important;
}